
<div class="col-md-12" >
    <div class="card card-container" *ngIf="!isSearchSuccessful">
        <h2>Search Books</h2>
            <form class="form" novalidate #f="ngForm" name="book" 
                    (ngSubmit)="f.form.valid && onSearch()">
                <div class="form-group">
                    <label for="BookCategory">Category :  </label> 
                    <input [(ngModel)]="book.category" name="=category" class="form-control" #category='ngModel' placeholder="Enter the category"><br/>
                </div>
                <div class="form-group">
                    <label for="BookTitle">Title :  </label> 
                    <input [(ngModel)]="book.title" name="=title" class="form-control" #title='ngModel' placeholder="Enter title"><br/>
                </div>
                <div class="form-group">
                    <label for="BookAuthor">Author :  </label> 
                    <input [(ngModel)]="book.author" name="author" class="form-control" #author="ngModel" placeholder="Enter author name"><br/>
                </div>
              
                <div class="form-group">
                   <button class="btn btn-primary btn-block" >Search</button>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="isSearchFailed">
                        Search Failed {{errorMessage}}
                    </div>
                </div>

            </form>
    </div>
    
    <div class="search-container" ng-app="Subscriptions App" 
            ng-controller="Subscriptions controller" *ngIf="isSearchSuccessful">
      
        <br/>
        <h5>Your book search result</h5><br/>
        <div class="alert alert-success" *ngIf="showSuccess">
          {{successMessage}}
        </div>
        <div class="alert alert-warning" *ngIf="showWarningMessage">
          {{warningMessage}}
        </div>
    
        <div class="book-container" *ngFor="let book of books">
            <div class="book-details-container"  (click)="onClick(book)">
                    <img src="{{book.logo}}" alt="" width="150" height="180"><br/>
                    
                    <h6>{{book.title}}</h6>
                    <p class="book-category">{{book.category}}</p>
                    <p class="book-price">{{book.price}}&nbsp;Rs.</p>
                    
                    
               
                    <div class="book-edit-container" *ngIf="isUserLoggedIn">
                            <button class="subscription" (click)="onSubscribe(book.id)" *ngIf="showSubscription(book.id)">Subscribe</button>
                            <button class="subscription" (click)="onUnSubscribe(book.id)" *ngIf="!showUnSubscribe(book.id)">Unsubscribe</button>
                    </div>

             </div>
        </div>
    </div>

         
</div>